@model IEnumerable<Mission06_Blake.Models.Movie>
@{
    ViewData["Title"] = "Movie Collection";
}

<h2>Movie Collection</h2>
<a class="btn btn-primary" asp-action="Create">Add a Movie</a>

<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>Title</th>
        <th>Category</th>
        <th>Director</th>
        <th>Year</th>
        <th>Rating</th>
        <th>Edited</th>
        <th>Copied To Plex</th>
        <th>Lent To</th>
        <th>Notes</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var movie in Model)
    {
        <tr>
            <td>@movie.Title</td>
            <td>@movie.Category?.CategoryName</td>
            <td>@movie.Director</td>
            <td>@movie.Year</td>
            <td>@movie.Rating</td>
            <td>@movie.Edited</td>
            <td>@movie.CopiedToPlex</td>
            <td>@movie.LentTo</td>
            <td>@movie.Notes</td>
            <td>
                <a asp-action="Edit" asp-route-id="@movie.MovieId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@movie.MovieId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>